---
import { SOCIAL_LINKS } from '../consts';
import SocialIcon from './SocialIcon.astro';

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={['flex flex-wrap items-center justify-center gap-2.5', className]}>
	{
		SOCIAL_LINKS.map((link) => (
			<a class="social-btn" href={link.href} target="_blank" rel="noopener noreferrer" title={link.name}>
				<span class="sr-only">{link.name}</span>
				<SocialIcon id={link.icon} />
			</a>
		))
	}
</div>
